.product {
    width: 100% !important;
    height: 150px !important;
    margin: 0 !important;
    margin-top: 16px !important;
    border: 1px lightgrey solid;
    background: white;
    padding: 16px;
}

.product-image {
    max-height: 120px;
}

.product-brand,
.product-category {
    font-weight: bold;
}

.product-description {
    max-height: 55px;
    overflow: hidden;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
